insmod all_video
insmod gfxterm
insmod png
set gfxmode=1920x1080,auto
set gfxpayload=keep
terminal_output gfxterm
if [ -f /boot/grub/splash.png ]; then
  background_image /boot/grub/splash.png
fi

set timeout=5
set default=0

menuentry "AppleOS 0.5.0 (minimal)" {
  linux /boot/vmlinuz console=ttyS0,115200 console=tty0 init=/init panic=1
  initrd /boot/initramfs.cpio.gz
}

menuentry "AppleOS 0.5.0 (verbose, single)" {
  linux /boot/vmlinuz console=tty0 console=ttyS0,115200 init=/init single debug
  initrd /boot/initramfs.cpio.gz
}
